@import '../../app/globals.scss';

.hero {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-width: 70vw;

  > * {
    margin: 14px 0;
    z-index: 20;
  }
}

.pitch {
  max-width: 760px;
  font-size: clamp(16px, 2.2vw, 22px);
  line-height: 1.45;
  color: rgba(255, 255, 255, 0.86);
  font-weight: 500;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.animateAppearance {
  opacity: 0;
  animation-name: make-opaque;
  animation-delay: 3000ms;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

@media screen and (min-width: 1024px) {
  .hero {
    padding: 80px;
  }
}

@media screen and (max-width: 1024px) {
  .hero {
    padding: 70px 70px 0 70px;
  }
}

@media screen and (max-width: 600px) {
  .hero {
    padding: 35px 20px;
    min-width: 100%;
  }

  .pitch {
    font-size: 15px;
  }
}
